:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-regular);

  /* COMMON COLORS */
  --check-background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --white: #FFFFFF;

  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

:root[data-theme="dark-theme"] {
  --app-background-color: hsl(235, 21%, 11%);
  --font-color: #afb1ca;
  --font-color-filter: invert(88%) sepia(74%) saturate(3433%) hue-rotate(179deg) brightness(87%) contrast(80%);
  --input-placeholder-color: #74768c;
  --card-background-color: hsl(235, 24%, 19%);
  --separator-color: #34364c;
  --active-filter-color: #5777c8;
  --backgroundg-image-desktop: url("./assets/backgrounds/bg-desktop-dark.jpg");
  --backgroundg-mobile-desktop: url("./assets/backgrounds/bg-mobile-dark.jpg");
}

:root[data-theme="light-theme"] {
  --app-background-color: hsl(0, 0%, 98%);
  --font-color: #48494e;
  --font-color-filter: invert(28%) sepia(6%) saturate(436%) hue-rotate(193deg) brightness(94%) contrast(93%);
  --input-placeholder-color: #afaeb4;
  --card-background-color: #FFFFFF;
  --separator-color: #e7e7eb;
  --active-filter-color: #5e7ebd;
  --backgroundg-image-desktop: url("./assets/backgrounds/bg-desktop-light.jpg");
  --backgroundg-mobile-desktop: url("./assets/backgrounds/bg-mobile-light.jpg");
}

body {
  min-height: 100vh;
  width: 100%;

  color: var(--font-color);
  background-color: var(--app-background-color);
  background-image: var(--backgroundg-image-desktop);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  transition: color 350ms ease 0s, background 350ms ease 0s;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: var(--backgroundg-mobile-desktop);
  }
}

#root {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  height: 100%;
}

button img {
  vertical-align: middle;
}

/* Disable highlighted selection on buttons */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}