:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: var(--font-weight-regular);

  /* COMMON COLORS */
  --check-background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --white: #FFFFFF;

  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --navbar-height: 64px;

  --page-padding: 20px;
  --page-width: 700px;
  --page-width-with-padding: calc(var(--page-width) + calc(2 * var(--page-padding)));
}

:root[data-theme="dark-theme"] {
  --navbar-background-color: rgba(0, 0, 0, .5);
  --navbar-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, .1);
  --font-color: #afb1ca;
  --separator-color: #34364c;
  --active-filter-color: #5777c8;

  --accents-1: #111;
  --accents-1-transparent: #111111f0;
  --accents-2: #333;
  --accents-2-transparent: #333333f0;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;

  --geist-foreground: #fff;
  --geist-background: #000;

  --shadow-small: 0 0 0 1px var(--accents-2);
}

:root[data-theme="light-theme"] {
  --navbar-background-color: hsla(0, 0%, 100%, .8);
  --navbar-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, .1);
  --font-color: #48494e;
  --separator-color: #e7e7eb;
  --active-filter-color: #5e7ebd;

  --accents-1: #fafafa;
  --accents-1-transparent: #fafafaf0;
  --accents-2: #eaeaea;
  --accents-2-transparent: #eaeaeaf0;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;

  --geist-foreground: #000;
  --geist-background: #fff;

  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
}

body {
  min-height: 100%;
  width: 100%;

  color: var(--accents-5);
  background-color: var(--accents-1);
  transition: color 350ms ease 0s, background 350ms ease 0s;
}

h1 {
  line-height: 1;
  color: var(--geist-foreground);
  font-size: 32px;
  font-weight: var(--font-weight-bold);
}

button {
  cursor: pointer;
  height: 100%;
  line-height: 1;
}

/* Disable highlighted selection on buttons */
button,
input,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}